@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-BoldItalic.woff2") format("woff2"), url("../fonts/Lato-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-arrow-down:before {
  content: "\e901";
}

._icon-i:before {
  content: "\e902";
}

._icon-left-arrow:before {
  content: "\e903";
}

._icon-right-arrow:before {
  content: "\e904";
}

._icon-slider-arrow:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Lato";
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Lato";
  line-height: 22px;
  font-weight: 700;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(179.01deg, #040024 0.79%, #000000 99.79%);
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 1110px;
  padding: 0px 15px;
  box-sizing: content-box;
  margin: 0 auto;
  position: relative;
}

body::after {
  content: "";
  background: rgba(24, 24, 24, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 15;
}

body.popup-show {
  overflow: hidden;
  touch-action: none;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  visibility: visible;
  overflow: auto;
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  padding: 30px;
}

.popup__body {
  background: #010009;
  border-radius: 5px;
  width: 100%;
  max-width: 435px;
  padding: 30px 20px;
}

.popup__close {
  margin-bottom: 20px;
  margin-right: -45px;
  display: flex;
  justify-content: right;
  cursor: pointer;
}

.popup__input {
  border: 1px solid #d0dbe2;
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
  color: #ffffff;
  font-weight: 400;
  background: transparent;
  outline: none;
}
.popup__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.popup__input:focus {
  box-shadow: 0 0 12px #8a8d8f;
}
.popup__input._error-input {
  border: 1px solid #f7343e;
  box-shadow: none;
}
.popup__input._error-input + .popup__input-error {
  display: block;
}

.popup__input-item {
  position: relative;
}
.popup__input-item:not(:last-child) {
  margin-bottom: 20px;
}
.popup__input-item::before {
  position: absolute;
  font-size: 7px;
  top: 20px;
  right: 16px;
  color: #807f84;
}

.popup__input-error {
  font-weight: 400;
  color: #f7343e;
  margin-top: 5px;
  display: none;
}

.popup__title {
  margin-bottom: 30px;
  font-size: 32px;
  line-height: 38px;
  color: #f1f1f1;
}

.country-popup__input-wrapper {
  margin-bottom: 30px;
}
.country-popup__button {
  text-align: center;
  padding: 11px 0px;
}

.sing-popup__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #989898;
  margin: 10px 0px 20px;
}
.sing-popup__social {
  justify-content: center;
  margin-bottom: 20px;
}
.sing-popup__buttons {
  text-align: center;
}
.sing-popup__button {
  width: 100%;
  text-align: center;
  padding: 11px 0px;
  margin-bottom: 10px;
}
.sing-popup__link {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #4665d3;
  transition: all 0.3s ease 0s;
}
.sing-popup__link:hover {
  color: #2d49af;
}

@media (max-width: 768px) {
  .popup__close {
    margin-right: 10px;
  }
}
@media (max-width: 500px) {
  .popup__body {
    padding: 20px 10px 30px 10px;
  }
  .popup__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}
@media (max-width: 380px) {
  .country-popup__input-item::before {
    top: 17px;
  }
  .popup__title {
    font-size: 22px;
    line-height: 26px;
  }
  .popup__input-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .popup__input {
    font-size: 14px;
    line-height: 17px;
  }
  .sing-popup__text {
    font-size: 10px;
    line-height: 12px;
    margin: 5px 0px 10px;
  }
  .popup__input-error {
    font-size: 14px;
    line-height: 17px;
  }
  .sing-popup__social {
    margin-bottom: 15px;
  }
  .sing-popup__link {
    font-size: 16px;
    line-height: 19px;
  }
}

.indent {
  margin-bottom: 100px;
}

.title {
  font-size: 32px;
  line-height: 38px;
}

.subtitle {
  font-size: 24px;
  line-height: 29px;
}

.btn {
  font-size: 20px;
  line-height: 24px;
  background: linear-gradient(93.22deg, #c61e36 0.51%, #4665d3 101.37%);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  background: linear-gradient(273.12deg, #c61e36 0%, #4665d3 99.06%);
}
@media (max-width: 480px) {
  .btn {
    font-size: 16px;
    line-height: 19px;
  }
}

.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.social__item {
  background: rgba(255, 255, 255, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}
.social__item:not(:last-child) {
  margin-right: 20px;
}
.social__item:hover {
  background: rgba(255, 255, 255, 0.034);
}
.social__item-text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.shadow {
  position: relative;
}
.shadow::before {
  content: "";
  position: absolute;
  width: 1198px;
  height: 1190px;
  background: url(../img/shadow.png) no-repeat;
  pointer-events: none;
}

@media (max-width: 950px) {
  .indent {
    margin-bottom: 70px;
  }
}
@media (max-width: 500px) {
  .indent {
    margin-bottom: 50px;
  }
}
.header {
  position: relative;
}
.header.shadow::before {
  left: -43%;
  bottom: -457%;
}
.header__body {
  margin: 29px 0px 0px 0px;
  display: flex;
  align-items: center;
}
.header__language {
  margin-right: 70px;
}
.header__personal-wrapper {
  display: flex;
  align-items: center;
}
.header__personal-image {
  margin-right: 10px;
}
.header__personal-image img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.header__personal-name {
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.header__personal-name::before {
  color: #4665d3;
  font-size: 6px;
  padding: 4px 0px 0px 10px;
}

.lang-header {
  position: relative;
}
.lang-header__item {
  display: flex;
  align-items: center;
  padding-left: 6px;
  cursor: pointer;
}
.lang-header__item._active-sublist .lang-header__text::before {
  transform: rotate(180deg);
}
.lang-header__item._active-sublist + .lang-header__sublist {
  opacity: 1;
  visibility: visible;
}
.lang-header__image {
  margin-right: 10px;
}
.lang-header__image img {
  border-radius: 50%;
  max-width: 25px;
}
.lang-header__text {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.lang-header__text::before {
  font-size: 6px;
  margin-left: 8px;
  margin-top: 3px;
  transition: all 0.3s ease 0s;
}
.lang-header__sublist {
  background: #020018;
  border-radius: 5px;
  position: absolute;
  min-width: 138px;
  min-height: 82px;
  top: 35px;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
}
.lang-header__sublist-item {
  display: flex;
  align-items: center;
  padding: 8px 5px 10px 5px;
  transition: all 0.3s ease 0s;
}
.lang-header__sublist-item:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.menu {
  flex: 1 1 100%;
  margin-right: 30px;
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.menu__list li:not(:last-child) {
  padding-right: 42px;
}
.menu__link {
  transition: all 0.3s ease 0s;
}
.menu__link:hover {
  color: #4665d3;
}

.button-reg {
  flex: 1 0 220px;
}
.button-reg__login {
  margin-right: 15px;
  transition: all 0.3s ease 0s;
}
.button-reg__login:hover {
  color: #4665d3;
}
.button-reg__reg {
  background: #4664d4;
  border-radius: 50px;
  padding: 8px 21px;
  transition: 0.3s;
}
.button-reg__reg:hover {
  background: #6f8cfb;
}

.menu-mob._menu-open .icon-menu span {
  width: 0;
}
.menu-mob._menu-open .icon-menu::before {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}
.menu-mob._menu-open .icon-menu::after {
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
}
.menu-mob._menu-open .menu-mob__body {
  right: 0;
}
.menu-mob__body {
  position: fixed;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  overflow: auto;
  background: #000107;
  z-index: 4;
  transition: all 0.3s ease 0s;
  padding: 25px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.menu-mob__content {
  flex: 1 1 auto;
}
.menu-mob__language {
  margin-bottom: 30px;
  margin-left: -6px;
}
.menu-mob__item {
  margin-bottom: 25px;
}
.menu-mob__link {
  font-size: 22px;
  color: #f1f1f1;
}
.icon-menu {
  display: none;
}
@media (max-width: 950px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
    width: 17px;
    right: 6px;
  }
}

@media (max-width: 1050px) {
  .header__language {
    margin-right: 50px;
  }
  .menu__list li:not(:last-child) {
    padding-right: 30px;
  }
}
@media (max-width: 950px) {
  .menu {
    display: none;
  }
  .header__language {
    display: none;
  }
  .button-reg {
    flex: 0 0 220px;
  }
  .header__body {
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .menu-mob__body {
    text-align: left;
  }
  .header__body {
    margin: 22px 0px 0px 0px;
  }
  .button-reg {
    font-size: 14px;
    line-height: 17px;
  }
  .button-reg__login {
    margin-right: 10px;
  }
  .button-reg__reg {
    padding: 5px 21px;
  }
}
.footer.shadow::before {
  right: 184px;
  top: -219%;
}
.footer__top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.footer__menu {
  display: flex;
  flex: 0 1 50%;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  flex: 0 1 50%;
}
.footer__personal {
  transition: all 0.3s ease 0s;
}
.footer__personal:hover {
  color: #4665d3;
}
.footer__buttons {
  margin-top: 25px;
}
.footer__logo {
  max-width: 94px;
}
.footer__logo img {
  width: 100%;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding: 15px 0px 50px 0px;
}
.footer__items {
  display: flex;
}
.footer__item:not(:last-child) {
  padding-right: 15px;
}
.footer__item img {
  max-width: 38px;
}
.menu-footer {
  margin-right: 30px;
  display: flex;
}
.menu-footer__list:not(:last-child) {
  margin-right: 130px;
}
.menu-footer__list li:not(:last-child) {
  margin-bottom: 20px;
}
.menu-footer__link {
  transition: all 0.3s ease 0s;
}
.menu-footer__link:hover {
  color: #4665d3;
}
.menu-footer__link_mob {
  display: none;
}

@media (max-width: 950px) {
  .menu-footer__list:not(:last-child) {
    margin-right: 70px;
  }
}
@media (max-width: 768px) {
  .footer__top {
    display: flex;
    align-items: normal;
    flex-direction: column-reverse;
  }
  .footer__columns {
    margin-bottom: 15px;
  }
  .menu-footer__list:not(:last-child) {
    flex: 0 1 50%;
  }
  .footer__bottom {
    padding: 15px 0px 30px 0px;
  }
  .footer__text {
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .footer__columns {
    flex-direction: row-reverse;
    align-items: center;
  }
  .menu-footer {
    margin-right: 0px;
    justify-content: space-between;
  }
  .menu-footer__list:not(:last-child) {
    margin-right: 15px;
  }
  .menu-footer__link,
.footer__personal {
    font-size: 16px;
  }
  .menu-footer__link_mob {
    display: block;
  }
  .footer__item:not(:last-child) {
    padding-right: 10px;
  }
  .footer__text {
    font-size: 8px;
    line-height: 10px;
  }
  .footer__item img {
    max-width: 24px;
  }
  .footer__top {
    margin-bottom: 15px;
  }
  .footer__bottom {
    padding: 10px 0px 30px 0px;
  }
}





